/* HEADER */
#header{
    position:relative;
    top:-2em;
    width:16em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* NAVBAR */
#Navbar{
    display: block;
    text-align:center;
}
.destination a {
    color: grey;
    padding-right:2em;
    padding-left:2em
    }
.divider{
    color:grey;
}
